<div class="col-lg-7">
  <div class="p-5">
    <div class="text-center">
      <h1 class="h4 text-gray-900 mb-4">Editar Grupos Usuario</h1>
    </div>
    <form class="user">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          id="user"
          placeholder="Usuario"
          readonly
        />
      </div>
      <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Nombre"
            readonly
          />
        </div>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            id="lastName"
            placeholder="Apellido"
            readonly
          />
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Default checkbox
            </label>
        </div>
      </div>

      <a href="login.html" class="btn btn-primary btn-user btn-block">
        Asignar
      </a>
    </form>
  </div>
</div>
