<div class="container-fluid">
  <h1 class="h3 mb-2 text-gray-800">Gestionar Grupos</h1>
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Lista de Grupos</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Descripcion</th>
              <th>Accion</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Nombre</th>
              <th>Descripcion</th>
              <th>Accion</th>
            </tr>
          </tfoot>
          <tbody>
            <tr ng-repeat="group in groups |  orderBy : 'Nombre'">
              <td>{{ group.nombre }}</td>
              <td>{{ group.descripcion}}</td>
              <td>
                <a href="#!editarGrupo" class="btn">
                  <span
                    class="bi-pencil"
                    title="Editar Grupo"
                    ng-click="EditarGrupo(group)"
                    role="img"
                    aria-label="Pencil"
                  ></span>
                </a>
                <a
                  href=""
                  title="Eliminar Grupo"
                  ng-click="EliminarGrupo(group)"
                  class="btn"
                >
                  <span class="bi-trash" role="img" aria-label="Trash"></span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
